name: build
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'oracle'
          cache: 'maven'
      - name: Test
        run: "mvn cobertura:cobertura --file pom.xml"
      - name: CodeCov
        run: "bash <(curl -s https://codecov.io/bash)"
      - name: SpotBugs
        run: "mvn com.github.spotbugs:spotbugs-maven-plugin:check"
      - name: Checkstyle
        run: "mvn checkstyle:check -Dcheckstyle.violationSeverity=warning -Dcheckstyle.violation.ignore=AbbreviationAsWordInName,MissingJavadocType,SummaryJavadoc"
