name: Build
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 1.8
      - name: Test
        run: "mvn cobertura:cobertura --file pom.xml"
      - name: CodeCov
        run: "bash <(curl -s https://codecov.io/bash)"
      - name: SpotBugs
        run: "mvn com.github.spotbugs:spotbugs-maven-plugin:check"
      - name: Checkstyle
        run: "mvn checkstyle:check -Dcheckstyle.violationSeverity=warning -Dcheckstyle.violation.ignore=AbbreviationAsWordInName,MissingJavadocType,SummaryJavadoc"
